<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">    
    <title>Code 1</title>
</head>
<body>
    <pre><code id="editableCode" contenteditable>
setInterval(() => {
  console.log("Tick");
  setTimeout(() => {
    console.log("Tock");
  }, 500);
}, 1000);
</code></pre>
<button onclick="sendMessage()">Fire!</button>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<!-- <script>
            // Create WebSocket connection.
            const socket = new WebSocket('ws://localhost:8080');

// Connection opened
socket.addEventListener('open', function (event) {
    console.log('Connected to WS Server')
});

// Listen for messages
// socket.addEventListener('message', function (event) {
//     console.log('Message from server ', event.data);
// });

const sendMessage = () => {
    socket.send('Hello From Client1!');
}
var editableCode = document.getElementById("editableCode");
editableCode.addEventListener("input", function() {
  // Send the updated code to the server via the WebSocket connection
  socket.send(this.innerHTML);
});
// Listen for messages from the server
socket.onmessage = function(event) {
  // Update the editable <code> element with the latest code from the server
  if (event.data.toString() == "Mentor") {
    editableCode.setAttribute("contenteditable",false);
  } else {
    editableCode.innerHTML = event.data.toString();
  }
};
// </script> -->
    
</body>


</html>