<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <link rel="stylesheet" href="/styles.css">

    <title>Code 1</title>
</head>

<body>
    <h1>
        <%=codeblock.title %>
    </h1>
    <div class="codeblock-area">
        <h4>
            <%=codeblock.description %>
        </h4>
        <pre>
        <code id="editableCode" contenteditable>
            <%=codeblock.code.toString() %>
        </code>
    </pre>
        <pre style="display:none">
        <code id="codeSolution">
            <%=codeblock.solution.toString() %>
        </code>
    </pre>
        <button class="endDrillButton" onclick="endDrill()">End Drill</button>
    </div>
    <div id="smiley" class="smiley-container">
        <div class="smiley" style="animation: jump 1s ease-in-out infinite;">
            <div class="right-eye"></div>
            <div class="left-eye"></div>
            <div class="mouth" style="border-radius: 0 0 80% 80%;"></div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</body>

<script src="/socket.io/socket.io.js"></script>

  
  <script src="/script.js"></script>




</html>