<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">    
    <title>Code 1</title>
</head>
<body>
    <h2><%=codeblock.title %></h2>
    <p>You're Logged in as <span id="role"></span></p>
    <pre><code id="editableCode" contenteditable>
<%=codeblock.code.toString() %>
</code></pre>
<button onclick="endDrill()">End Drill</button>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

</body>
<script>



</script>
<script src="/js/Websocket.js"></script>


</html>