
body {
  font-family: 'Courier New', monospace;
}

h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}

h4 {
  text-align: center;
  padding-top:-5px;
  font-size: 15px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 30%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    border-radius: 10px 10px 0px 0px; /* Only round the top corners */
    padding: 10px;
    width: 100%; /* Make the image fill the width of the card */
  }

  a.card {
    text-decoration: none;
    color: inherit;
  }
  
  a.card:hover {
    cursor: pointer;
  }
  
  .card-container .card img {
    width: 100%;
    height: 200px; /* or any other value that you want */
    object-fit: cover;
  }

  .codeblock-area {
    width: 70%;
    margin: auto;
    text-align: center;
  }
.endDrillButton {
  width: 80%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin: 4px 2px;
  cursor: pointer;
}

  .smiley-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .smiley {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
  }
  
  .right-eye {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 40px;
    left: 40px;

  }
    
  .left-eye {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 40px;
    left: 113px;

  }

  .mouth {
    width: 114px;
    height: 58px;
    background-color: black;
    position: absolute;
    bottom: 28px;
    left: 40px;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-30px);
    }
    40% {
      transform: translateY(0);
    }
  }
  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      float: none;
      margin: 15px 5px;
    }
    .codeblock-area {
      width: 100%;
      margin: 0;
    }
  }